* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url("../src/assets/red-background.png");
  background-size: cover;
}

main {
  display: block;
  padding-top: 8%; 
}

.rectangle {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1500px;
  height: 750px;
  overflow: hidden;
}

/*Categories display*/
.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(126, 6, 6);
}

.category {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s;
}

.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category p {
  position: absolute;
  bottom: 16rem;
  left: 0;
  right: 0;
  padding: 10px;
  font-size: 34px;
  text-align: center;
  transition: all 0.5s;
  transform: translateY(100%);
  color: snow;
  font-weight: 700;
  text-shadow: 2px 2px 3px black;
  
}

.category:hover img {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 80%;
}

.category:hover p {
  transform: translateY(0);
}

/*Gallery display*/
.wrapper{
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  text-align: center;
}

.gallery-wrapper{
  display: grid;
  grid-template-columns: auto auto auto;
}

.swapper-gallery {
  transition: transform 0.5s ease-in-out;
  width: auto;
}

#current-image {
  width: 1000px;
  transition: opacity 0.5s ease-in-out;
}

.left-arrow,
.right-arrow {
  font-size: 60px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  margin: auto;
}

.description-wrapper {
  display: block;
  margin: auto;
  
}

.itemdesc { 
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-shadow: 2px 0px 5px white;
}

.buttondesc {
  margin: auto;
  display: block;
  padding: 1rem;
  border: solid black;
  background: black;
  color: white;
  border-radius: 2rem;
  font-size: 1rem;
  transition: font-size 0.2s ease;
}

.buttondesc:hover{
  cursor: pointer;
  font-size: 1.25rem;
}


/*Products display*/
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 2rem;
}

.product {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  background-color: white;
}

.product:hover{
  opacity: 80%;
  cursor: pointer;
}

.product img {
  width: 80%;
  height: 600px;
  object-fit: cover;
}

.product h3 {
  margin-top: 0.5rem;
}

.product p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #999;
}

